{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section id-card">
  <div class="d-flex d-inline-block d-flex justify-content-start">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div>
      <h4 class="account-heading">{{ user.username.capitalize }}</h4>
      <p class="text-secondary">{{ user.email }}</p>
      <h6 class="text-muted">Points : {{ points }}</h6><br>
      <ul class=""><strong class="">Team(s):</strong> 
        {% for userteam in userteams %}
          <li class="id-team-list-item"><a class="text-decoration-none" href="/userteam/{{ userteam.id }}">{{ userteam.name }} (Admin)</a></li>
        {% endfor %}
        {% for member in members %}
          <li class="id-team-list-item"><a class="text-decoration-none" href="/userteam/{{ member.userteam.id }}">{{ member.userteam.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="content-section">
  <h4 class="">Mes Statistiques</h4><br>
  <ul>
    {% for bet in bets %}
      {% if bet.match.done == True %}
        <li><strong>{{ bet.match.hometeam.name }} vs {{ bet.awayteam.hometeam.name }}</strong> ({{ bet.match.match_date|date:"d F Y - H:i" }})</li>
            <ul>
              {% if bet.tab == True %}
                <li class="id-team-list-item">Prono : {{ bet.prono_hometeam }} - {{ bet.prono_awayteam }} | tab: {{ bet.winner }}</li>
              {% else %}
                <li class="id-team-list-item">Prono : {{ bet.prono_hometeam }} - {{ bet.prono_awayteam }}</li>
              {% endif %}
              {% if bet.match.winner != none %}
                <li class="id-team-list-item">Score : {{ bet.match.goal_hometeam }} - {{ bet.match.goal_awayteam }} | tab: {{ bet.match.winner }}</li>
              {% else %}
                <li class="id-team-list-item">Score : {{ bet.match.goal_hometeam }} - {{ bet.match.goal_awayteam }}</li>
              {% endif %}  
              <li class="id-team-list-item">➡️ Point(s) : {{ bet.point }}</li>
            </ul><br>
      {% else %}
        <li><strong>{{ bet.match.hometeam.name }} vs {{ bet.awayteam.hometeam.name }}</strong> ({{ bet.match.match_date|date:"d F Y - H:i" }})</li>
          <ul>
            <li class="id-team-list-item">Prono : {{ bet.prono_hometeam }} - {{ bet.prono_awayteam }}</li>
            <li class="id-team-list-item">➡️ En cours</li>
        </ul><br>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock content %}
