{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section id-card">
  <div class="d-flex d-inline-block d-flex justify-content-start">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div>
      <h4 class="account-heading">{{ user.username.capitalize }}</h4>
      <p class="text-secondary">{{ user.email }}</p>
      <h6 class="text-success">Points : {{ points }}</h6><br>
      <ul class=""><strong class="">Team(s):</strong> 
        {% for member in members %}
          <li class="id-team-list-item"><a class="text-decoration-none" href="/userteam/{{ member.userteam.id }}">{{ member.userteam.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="content-section">
  <h4 class="">Mes Statistiques</h4><br>
  <ul>
    {% for finish_bet in finish_bets %}
        <li class="dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false"><strong>{{ finish_bet.match.hometeam.name }} vs {{ finish_bet.awayteam.hometeam.name }}</strong> ({{ finish_bet.match.match_date|date:"d F Y - H:i" }})</li>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            {% if finish_bet.tab == True %}
              <li class="id-team-list-item text-center">Prono : {{ finish_bet.prono_hometeam }} - {{ finish_bet.prono_awayteam }} | tab: {{ finish_bet.winner }}</li>
            {% else %}
              <li class="id-team-list-item text-center">Prono : {{ finish_bet.prono_hometeam }} - {{ finish_bet.prono_awayteam }}</li>
            {% endif %}
            {% if finish_bet.match.winner != none %}
              <li class="id-team-list-item text-center">Score : {{ finish_bet.match.goal_hometeam }} - {{ finish_bet.match.goal_awayteam }} | tab: {{ finish_bet.match.winner }}</li>
            {% else %}
              <li class="id-team-list-item text-center">Score : {{ finish_bet.match.goal_hometeam }} - {{ finish_bet.match.goal_awayteam }}</li>
            {% endif %}  
            <li class="id-team-list-item text-center"><i class="bi bi-arrow-right-circle-fill text-success"> Point(s) : {{ finish_bet.point }}</i></li>
          </ul><br>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
