{% extends "blog/base.html" %}
{% block content %}
<h1>Règles du jeu</h1><br>
<div class="content-section">
  <h2>Pour jouer c'est simple...</h2><br>
  <p>Crée toi un compte, crée ou rejoins une Team et enfin fais tes pronos</p>
  <p>Tes points et ton classement seront visibles par tes coépiquiers</p>
  <p>Tu peux avoir autant de Team que tu le souhaites mais seulement 1 prono par match</p>
  <p>Tu peux modifier ton prono jusqu'à 1 minute avant le début du match mais pas après... Soit vigilent!</p>
  <p>A partir des 1/8èmes, les prolongations sont prises en compte ainsi que les tirs au but...</p>
  <br>

  <h4>Calcul des points:</h4>
  <ul>
    <li><strong>Score exact: 3 points</strong></li>
      <p>Dans le cas des tirs au but, il faut avoir le score exact à la fin des prolongations et l'équipe gagnante à l'issue de la séance de tirs au but.</p>
    <li><strong>Equipe gagnante: 1 point</strong></li>
      <p></p>
    <li><strong>Sinon 0 point</strong></li>
  </ul>
  <br>
  <h6>A toi de jouer!</h6><br>
  <p>Avec 💚, l'équipe Friendz Pronos</p>
</div>

{% endblock content %}
