{% extends "blog/base.html" %}
{% block content %}
  <div class="content-section" >
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Supprime ton Prono</legend>
        <h5 class="mb-3">Es-tu sûr de vouloir supprimer ce prono ?</h5>
        <div class="content-section">
          <p class="text-center">{{ object.match.match_date|date:"l d F, Y" }} - {{ object.match.match_date|date:"H:i" }}</p>
          <h2 class="text-center">{{ object.hometeam }} <small>vs</small> {{ object.awayteam }}</h2>
          <h4 class="text-center">{{ object.prono_hometeam }} - {{ object.prono_awayteam }}</h4>
        </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Oui, Supprimer</button>
        <a class="btn btn-outline-secondary" href="{% url 'bet-detail' object.id %}">Annuler</a>
      </div>
      </div>
    </form>
  </div>
{% endblock content %}
