{% extends "blog/base.html" %}
{% block content %}
<div class="content-section" >
  <form action="" method="POST">
  {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Supprime ton Prono</legend>
      <h5 class="mb-3">Es-tu sûr de vouloir supprimer ce prono ?</h5>
      <div class="content-section">
        <p class="text-center">{{ object.match.match_date|date:"l d F Y" }} - {{ object.match.match_date|date:"H:i" }}</p>
        <h4 class="text-center">{{ object.hometeam.name }} <small>vs</small> {{ object.awayteam.hometeam.name }}</h4>
        {% if object.tab == True %}
          <h6 class="text-center"> Prono : {{ object.prono_hometeam }} - {{ object.prono_awayteam }} | tab - {{ object.winner }} <small>(vainqueur)</small></h6>
        {% else %}
          <h6 class="text-center"> Prono : {{ object.prono_hometeam }} - {{ object.prono_awayteam }}</h6>
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-sm btn-outline-danger" type="submit">Oui, Supprimer</button>
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'bet-detail' object.id %}">Annuler</a>
    </div>
  </form>
</div>
{% endblock content %}
