{% extends "blog/base.html" %}
{% block content %}
<div class="d-flex justify-content-end">
  <!-- <div class="d-flex flex-column">
    <p class="text-center">Prochain match</p>
    <div class="d-flex justify-content-center">
      <p class="text-center counter">{{ chrono }}</p>
    </div>
  </div> -->
  <div class="d-flex flex-column">
    <p class="text-center">Pronos restants</p>
    <div class="d-flex justify-content-center">
      <p class="text-center counter">{{ matchs_to_bet }}</p>
    </div>
  </div>
</div>


<h1>Fais tes Pronos</h1><br>

{% for awayteam in awayteams %}
  <div class="content-section text-center">
    <!-- bet display data from awayteam (matchs to bet on) -->
    <p>{{ awayteam.match.match_date|date:"l d F Y" }} - {{ awayteam.match.match_date|date:"H:i" }}</p>
    <h6>{{ awayteam.match.hometeam.name }} <img src="{{ awayteam.match.hometeam.image.url }}"> vs <img src="{{ awayteam.hometeam.image.url }}"> {{ awayteam.hometeam.name }}</h6>
    
    <!-- Form start -->
    <form action="{% url 'bet-create' %}" method="POST" name="BetCreateForm" id="BetCreateForm">
    {% csrf_token %}
    <!-- Form data hidden from awayteam (matchs to bet on - Foreign keys of bet model) -->
    <div class="form-group d-none">
      <select  type="datetime" class="form-control" id="user" name="user">
        <option>{{ user.id }}</option>
      </select>
    </div>
    <div class="form-group d-none">
      <select  type="datetime" class="form-control" id="match" name="match">
        <option>{{ awayteam.match.id }}</option>
      </select>
    </div>
    <div class="form-group d-none">
      <select class="form-control" id="hometeam" name="hometeam">
        <option>{{ awayteam.match.hometeam.id }}</option>
      </select>
    </div>
    <div class="form-group d-none">
      <select class="form-control" id="awayteam" name="awayteam">
        <option>{{ awayteam.id }}</option>
      </select>
    </div>
    <!-- Form data request from user to finalize bet creation -->
    <div class="form-row">
      <div class="form-group d-inline-block col-2">
        <input type="number" class="form-control form-control-sm mt-2" id="prono_hometeam" name="prono_hometeam" required> 
      </div>
      <div class="form-group d-inline-block col-2">
        <input type="number" class="form-control form-control-sm mt-2" id="prono_awayteam" name="prono_awayteam" required>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="tab">Tirs au but ? </label>
      <input type="checkbox" id="tab"  name="tab">
    </div>
    <div class="form-group w-25 mt-2 mx-auto">
      <label for="winner">Vainqueur(tab):</label>
      <select  id="winner"  name="winner" class="form-control form-control-sm">
        <option> </option>
        <option>{{ awayteam.hometeam.name }}</option>
        <option>{{ awayteam.match.hometeam.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-success btn-std btn-sm mt-3" id="sendMessageButton">Soumettre</button>
    </div>
  </form>
  </div>
{% endfor %}
{% endblock content %}
