{% extends "blog/base.html" %}
{% block content %}
<h1>Mes pronos en cours</h1><br>
<div class="center">
  <a class="btn btn-outline-success btn-home btn-sm mt-1 mb-1" href="{% url 'bet-create' %}">Faire un autre prono</a>
</div>
<br>
<!-- Bet next matchs index for current user -->
{% for bet in bets %}
  <div class="content-section text-center pronos-card">
    <a class="text-decoration-none text-dark" href="{% url 'bet-detail' bet.id %}">
      <p>{{ bet.match.match_date|date:"l d F Y" }} - {{ bet.match.match_date|date:"H:i" }}</p>
      <h6>{{ bet.match.hometeam.name }}<img src="{{ bet.match.hometeam.image.url }}"> vs <img src="{{ bet.awayteam.hometeam.image.url }}">{{ bet.awayteam.hometeam.name }}</h6>
      <h6>{{ bet.prono_hometeam }} - {{ bet.prono_awayteam }}</h6>
      {% if bet.tab == True %}
        <h6>tab - {{ bet.winner }} (vainqueur)</h6>
      {% endif %}
    </a>
  </div>
{% endfor %}
<br>

<!-- Bet previous matchs index for current user -->
<button class="btn btn-sm btn-outline-success btn-std" type="button" data-toggle="collapse" data-target="#collapsePassed" aria-expanded="false" aria-controls="collapsePassed">
  Mes Anciens Pronos
</button><br>

<div class="collapse" id="collapsePassed"><br>
  {% for donebet in donebets %}
    <div class="content-section text-center pronos-card">
      <p>{{ donebet.match.match_date|date:"l d F Y" }} - {{ donebet.match.match_date|date:"H:i" }}</p>
      <h6>{{ donebet.match.hometeam.name }}<img src="{{ donebet.match.hometeam.image.url }}"> vs <img src="{{ donebet.awayteam.hometeam.image.url }}">{{ donebet.awayteam.hometeam.name }}</h6>
      {% if donebet.tab == True %}
        <h6>Prono : {{ donebet.prono_hometeam }} - {{ donebet.prono_awayteam }} | tab - {{ donebet.winner }} (vainqueur)</h6>
      {% else %}
        <h6>Prono : {{ donebet.prono_hometeam }} - {{ donebet.prono_awayteam }}</h6>
      {% endif %}
      {% if donebet.match.winner != none %}
        <h6>Score : {{ donebet.match.goal_hometeam }} - {{ donebet.match.goal_awayteam }} | tab - {{ donebet.match.winner}} (vainqueur)</h6>
      {% else %}
        <h6>Score : {{ donebet.match.goal_hometeam }} - {{ donebet.match.goal_awayteam }}</h6>
      {% endif %}
      <h6>Points : {{ donebet.point }}</h6>
    </div>
  {% endfor %}
</div>
{% endblock content %}
