{% extends "blog/base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
  <div class="content-section" >
    {% for awayteam in awayteams %}
      {% if bet.user != form.user and bet.match != form.match %}
    <article class="media content-section">
      <!-- bet display data from awayteam (matchs to bet on) -->
      <p>{{ awayteam.match.match_date|date:"D d F, Y" }} @ {{ awayteam.match.match_date|date:"H:m" }}</p><br>
      <p>{{ awayteam.match.hometeam.name }} <img src="{{ awayteam.match.hometeam.image.url }}"> vs <img src="{{ awayteam.hometeam.image.url }}"> {{ awayteam.hometeam.name }}</p>
    
<!-- Form start -->
    <form action="{% url 'bet-create' %}" method="POST" name="BetCreateForm" id="BetCreateForm">
      {% csrf_token %}
<!-- Form data hidden from awayteam (matchs to bet on - Foreign keys of bet model) -->
      <div class="form-group d-none">
        <select  type="datetime" class="form-control" id="user" name="user">
          <option>{{ user.id }}</option>
        </select>
      </div>
      <div class="form-group d-none">
        <select  type="datetime" class="form-control" id="match" name="match">
          <option>{{ awayteam.match.id }}</option>
        </select>
      </div>
      <div class="form-group d-none">
        <select class="form-control" id="hometeam" name="hometeam">
          <option>{{ awayteam.match.hometeam.id }}</option>
        </select>
      </div>
      <div class="form-group d-none">
        <select class="form-control" id="awayteam" name="awayteam">
          <option>{{ awayteam.id }}</option>
        </select>
      </div>
<!-- Form data request from user to finalize bet creation -->
      <div class="form-group form-number-design d-inline-block">
        <input type="number" class="form-control" id="prono_hometeam" placeholder="{{ awayteam.bet.prono_hometeam }}" name="prono_hometeam" required data-validation-required-message="Please enter a goal number."> 
        <p class="invalid-feedback"></p>
      </div>

      <div class="form-group form-number-design d-inline-block">
        <input type="number" class="form-control" id="prono_awayteam" placeholder="{{ awayteam.bet.prono_awayteam }}" name="prono_awayteam" required data-validation-required-message="Please enter a goal number.">
        <p class="invalid-feedback"></p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-info" id="sendMessageButton">Submit</button>
      </div>
    </form>

<!-- Form errors -->
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</article>
{% endif %}
    {% endfor %}
  </div> 
{% endblock content %}
