{% extends "blog/base.html" %}
{% block content %}
<h1>Hello</h1>
{% for match in matchs %}
  <article class="media content-section">
    <p>{{ match.match_date|date:"D d F, Y" }} @ {{ match.match_date|date:"H:m" }}</p><br>
    <p>{{ match.hometeam.name }} <img src="{{ match.hometeam.image.url }}"> vs <img src="{{ match.awayteam.hometeam.image.url }}"> {{ match.awayteam.hometeam.name }}</p>
    <p>{{ match.goal_hometeam }} - {{ match.goal_awayteam }}</p>
  </article>
    {% endfor %}
{% endblock content %}