{% extends "blog/base.html" %}
{% block back_content %}
{% endblock back_content %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
  <div class="d-flex justify-content-end">
    <a class="btn btn-success rounded-pill btn-home" role="button" href="{% url 'bet-create' %}">Fais tes pronos</a>
  </div>
{% endif %}

<h1>Matchs</h1><br>
<!-- Next Match index -->
{% for awayteam in awayteams %}
  <div class="content-section text-center">
    <p>{{ awayteam.match.match_date|date:"l d F Y" }} - {{ awayteam.match.match_date|date:"H:i" }}</p>
    <h6>{{ awayteam.match.hometeam.name }} <img src="{{ awayteam.match.hometeam.image.url }}"> vs <img src="{{ awayteam.hometeam.image.url }}"> {{ awayteam.hometeam.name }}</h6>
  </div>
{% endfor %}

<!-- Previous Match index -->
<button class="btn btn-sm btn-outline-success btn-std" type="button" data-toggle="collapse" data-target="#collapsePassed" aria-expanded="false" aria-controls="collapsePassed">
  Anciens Matchs
</button><br>

<div class="collapse" id="collapsePassed"><br>
  {% for doneawayteam in doneawayteams %}
    <div class="content-section text-center">
      <p>{{ doneawayteam.match.match_date|date:"l d F, Y" }} - {{ doneawayteam.match.match_date|date:"H:i" }}</p>
      {% if doneawayteam.match.goal_hometeam > doneawayteam.match.goal_awayteam %}
        <h6><strong>{{ doneawayteam.match.hometeam.name }} <img src="{{ doneawayteam.match.hometeam.image.url }}"></strong> vs <small><img src="{{ doneawayteam.hometeam.image.url }}"> {{ doneawayteam.hometeam.name }}</small></h6>
      {% elif doneawayteam.match.goal_hometeam < doneawayteam.match.goal_awayteam %}
        <h6><small>{{ doneawayteam.match.hometeam.name }} <img src="{{ doneawayteam.match.hometeam.image.url }}"></small> vs <strong><img src="{{ doneawayteam.hometeam.image.url }}"> {{ doneawayteam.hometeam.name }}</strong></h6>
      {% elif doneawayteam.match.goal_hometeam == doneawayteam.match.goal_awayteam and doneawayteam.match.winner == doneawayteam.match.hometeam.name %}
      <h6><strong>{{ doneawayteam.match.hometeam.name }} <img src="{{ doneawayteam.match.hometeam.image.url }}"></strong> vs <small><img src="{{ doneawayteam.hometeam.image.url }}"> {{ doneawayteam.hometeam.name }}</small></h6>
        <p class="text-muted tect-center">t.a.b</p>
      {% elif doneawayteam.match.goal_hometeam == doneawayteam.match.goal_awayteam and doneawayteam.match.winner == doneawayteam.hometeam.name %}
      <h6><small>{{ doneawayteam.match.hometeam.name }} <img src="{{ doneawayteam.match.hometeam.image.url }}"></small> vs <strong><img src="{{ doneawayteam.hometeam.image.url }}"> {{ doneawayteam.hometeam.name }}</strong></h6>
        <p class="text-muted tect-center">t.a.b</p>
      {% else %}
        <h6>{{ doneawayteam.match.hometeam.name }} <img src="{{ doneawayteam.match.hometeam.image.url }}"> vs <img src="{{ doneawayteam.hometeam.image.url }}"> {{ doneawayteam.hometeam.name }}</h6>
        <p class="text-muted tect-center">Match nul</p>
      {% endif %}
      <h6>{{ doneawayteam.match.goal_hometeam }} - {{ doneawayteam.match.goal_awayteam }}</h6>
    </div>
  {% endfor %}
{% endblock content %}