{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ userteam.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ userteam.name }}</h2>
          <p>Admin: {{ userteam.user }}</p>
        </div>
      </div>
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'userteam-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'userteam-delete' object.id %}">Delete</a>
      </div>
    </div>
{% endblock content %}