{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section id-card">
    <div class="d-flex d-inline-block d-flex justify-content-start">
      <img class="rounded-circle account-img" src="{{ userteam.image.url }}">
      <div>
        <h2 class="account-heading">{{ userteam.name }}</h2>
        <a href="{% url 'profile' %}"><p class="text-muted">Admin : {{ userteam.user.username.capitalize }}</p></a>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center">
        <div>
          {% if userteam.user == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'userteam-update' object.id %}">Modifier</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'userteam-delete' object.id %}">Supprimer</a>
          {% else %}
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'userteam-quit' current_member.id %}">Quitter la Team</a>
          {% endif %}
        </div>
      </div>
      <ul class="id-team mb-3"><strong class="mb-2">Membres: ({{ members.count }})</strong>
        {% for member in members %}
          {% if userteam.user == user %}
            {% if member.user == userteam.user %}
              <li class="id-team-list-item">{{ member.user.username.capitalize }}</li>
            {% else %}
              <li class="id-team-list-item">{{ member.user.username.capitalize }} <small><a href="{% url 'userteammember-delete' member.id %}"><i class="bi bi-trash"></i></a></small></li>
            {% endif %}
          {% else %}
            <li class="id-team-list-item">{{ member.user.username.capitalize }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="content-section">
    <h4 class="mb-3">Classement</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Joueurs</th>
          <!-- <th scope="col" class="text-center">Pronos</th> -->
          <th scope="col" class="text-center">Bons</th>
          <th scope="col" class="text-center">Exacts</th>
          <th scope="col" class="text-center">Points</th>
        </tr>
      </thead>
      <tbody>
        {% for user_point in user_points %}
          {% for member in members %}
            {% if user_point.user__username == member.user.username %}
              <tr>
                <th scope="row" class="text-center">{{ forloop.revcounter }}</th>
                  <td class="text-center">{{ user_point.user__username.capitalize }}</td>
                  <!-- <td class="text-center">{{ user_point.pronos }}</td> -->
                  <td class="text-center">{{ user_point.bons }}</td>
                  <td class="text-center">{{ user_point.exacts }}</td>
                  <td class="text-center">{{ user_point.points }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    <!-- <ol>
    {# for user_point in user_points #}
      {# for member in members #}
        {# if user_point.user__username == member.user.username #}
          <li class="">{{ user_point.user__username.capitalize }} : {{ user_point.points }} Point(s)</li>
        {# endif #}
      {# endfor #}
    {# endfor #}
  </ol> -->
  </div>
{% endblock content %}
